.menuchic
{
    background-color: rgba(255,245,254);
}
h5{
    font-family: 'Croissant One', cursive;
    background: -webkit-linear-gradient(left, rgba(198,116,18) ,rgba(165,103,153), rgba(110,76,204));
    background: -moz-linear-gradient(left, rgba(198,116,18) ,rgba(165,103,153), rgba(110,76,204));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.2em;
}
h3::before{
    width: 80px;
    height: 100px;
    background-color: #000;
    border-radius: 50% / 60% 60% 40% 40%;
    /*content: "";
    background:rgba(2,40,221);
    width: 500px;
    height: 500px;
    clip-path: polygon(81% 98%, 100% 97%, 100% 100%, 51% 100%, 0 100%, 0 97%, 18% 99%);*/
}        
.menu2s 
{
    font-family: 'Sriracha', cursive;
}
.police1{
    color: rgba(198,116,18);
    padding: 0 0 0 0;
}
.police2{
    color: rgba(165,103,153);
    padding: 0 0 0 0;
}
.police3{
    color: rgba(110,76,204);
    padding: 0 0 0 0;
}
/*rgba(198,116,18) ,rgba(165,103,153), rgba(110,76,204)*/


/*sur le style.scss .chic
.chic{
    font-size: 1.1em;
    font-weight: bold;
    display:flex;
    justify-content: center;
}*/