@import "variables.scss";
@import "mixin.scss";

.menuchic{
    background-color: $backchic;
}
.menu2h h5{  
    font-family: 'Croissant One', cursive;
    background: linear-gradient(to right, rgba(198,116,18) ,rgba(110,76,204));
    @include degrade  
} 
.menu2s{
    font-family: 'Noto Serif', serif;
}
.police1{
    color: rgba(199,116,18);
}
.police2{
    color: rgba(165,103,153);
}
.police3{
    color: rgba(110,76,204);
}
.police1, .police2, .police3{
    margin: 10px 10px 10px 10px;
}
p{
    padding: 10px 10px 10px 10px;
}
/*décorations titres*/
.police1 .img1, .police2 .img1, .police3 .img1{
clip-path: polygon(75% 30%, 100% 50%, 75% 70%, 0 50%);
}
.police1 .img2, .police2 .img2, .police3 .img2{
clip-path: polygon(25% 30%, 100% 50%, 25% 70%, 0 50%);
}
.police1 .img1, .police1 .img2{
    background-color: rgba(199,116,18);
}
.police2 .img1, .police2 .img2{
    background-color: rgba(165,103,153);
}
.police3 .img1, .police3 .img2{
    background-color: rgba(110,76,204);
}
/*soulignement titres*/
.police1 h3{
        text-align: center;
        background: linear-gradient(to top, rgba(199,116,18) 0%, rgba(199,116,18) 1px, transparent 3px) no-repeat;
        background-size: 0 100%;
        transition: background-size 1s;
        &:hover{
            background-size: 100% 100%;
        }
}    
.police2 h3{
    text-align: center;
    background: linear-gradient(to top, rgba(165,103,153) 0%, rgba(165,103,153) 1px, transparent 3px) no-repeat;
    background-size: 0 100%;
    transition: background-size 1s;
    &:hover{
        background-size: 100% 100%;
    }
}
.police3 h3{
    text-align: center;
    background: linear-gradient(to top, rgba(110,76,204) 0%, rgba(110,76,204) 1px, transparent 3px) no-repeat;
    background-size: 0 100%;
    transition: background-size 1s;
    &:hover{
        background-size: 100% 100%;
    }
}
