@import "variables.scss";
@import "mixin.scss";
/*template*/
body{
    margin: 0 0 0 0;
    width: 100%;
}
header, .wiggle, h6{
    font-family: 'Montserrat', sans-serif;
    background-color: $back;
    color: $ohmyfood;
    display: flex;
}
header{
    justify-content: center;
    width: 100%;
}    
main{
    box-sizing: content-box;
    margin: 15px 50px 50px 50px;
    padding: 0 35px 35px 35px;
}
.wiggle{        
    position: fixed;
    bottom: 0px;
    justify-content: space-between;
    width: 100%;
}
footer a{
    padding: 25px 30px 25px 30px;
    font-size: 1.6em;
}
h1 a, footer a{
    color: $ohmyfood;
}
h1 a{
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: -6px;
}

/*index*/
.ligne{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 50px 0 50px;
}
.note, .chic, .delice, .palette{
    box-sizing: border-box;
    width: 400px;
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.note, .delice{
    margin: 0 15px 0 0;
}
.chic, .palette{
    margin: 0 0 0 15px;
}
.note a, .chic a, .delice a, .palette a, h1 a, footer a{
    text-decoration: none;
}
.zoom, .zoom i, h1 a, h1, h2, h4, h5, .ligne3{
    text-align: center;
}
.note a{
    color: $menunote;
}
.note i{
    padding: 0 5px 0 5px;
    background: linear-gradient(to right, rgba(241,92,97) ,rgba(246,145,106));
    @include degrade;
}
.chic h5 a{
    background: linear-gradient(to right, rgba(198,116,18) ,rgba(110,76,204));
    @include degrade
}
.delice a{
    color: $menudelice;
}
.delice h5{
    background: linear-gradient(to right, rgba(0,35,219) ,rgba(19,141,255));
    @include degrade
}
.palette a{
    color: $menupalette;
}
.palette h5{
    background: linear-gradient(to right, rgba(65,150,60) ,rgba(184,250,124));
    @include degrade
  }
.palette h5, .note h5, .chic h5, .delice h5{  
    font-size: 1.4em;
}
.palette h4, .note h4, .chic h4, .delice h4{  
    font-size: 2em;
}
.note{
    color: $menunote;
    background-color: $backnote;
    &:hover{
        background: rgba($backnote, 0.5);
    }
}
.note h5{
    font-family: 'Devonshire', cursive;
}
.note h4{
    font-family: 'Sriracha', cursive
}
.chic{
    background-color: $backchic;
    &:hover{
        background: rgba($backchic, 0.5);
    }
}
.chic h4{
    color: $menuchic;
    font-family: 'Noto Serif', serif;
}
.delice{
    color: $menudelice;
    background-color: $backdelice;
    &:hover{
        background: rgba($backdelice, 0.5);
    }
}
.delice h5{
    font-family: 'Dancing Script', cursive;
}
.delice h4{
    font-family: 'Kalam', cursive;
}
.palette{
    color: $menupalette;
    background-color: $backpalette;
    &:hover{
        background: rgba($backpalette, 0.5);
    }
}
.palette h5{
    font-family: 'Kaushan Script', cursive;
}
.palette h4{
        font-family: 'Kalam', cursive; 
}
h1, h2, h4, h5, .ligne3{
    justify-content: center; 
    display: flex;   
}
.ligne3
{
    box-sizing: content-box;
    width: 35%; 
    margin: auto;
    justify-content: center;
}
.ligne3>h3{
    font-size: 1.9em;
    font-weight: lighter;
    color: $ohmyfood;
    border-radius: 10px;
    background-color: $back;
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-wrap: nowrap;
}

/*DRY*/
.chic h5, .menu2h h5{
    font-family: 'Croissant One', cursive;
    background: linear-gradient(to right, rgba(198,116,18) ,rgba(165,103,153), rgba(110,76,204));
    @include degrade
}

.menu1s, .menu2s, .menu3s, .menu4s{
    justify-content: center;
    width: 90%;
    padding: 20px 15px 20px 30px;
}
.menu1h h5, .menu2h h5, .menu3h h5, .menu4h h5{
    font-size: 2.2em;
    margin: 5px 0 0 0;
}
.menu1s, .menu2s, .menu3s, .menu4s{
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
p{
	display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 1.3em;  
    margin: 15px 15px 15px 15px;  
}
.prix
{
	display: flex;		
	flex-direction: column;
    width: 20%;
    align-items: flex-end;
}
.deco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin: 10px 0 20px 0; 
}
.img1{
    width: 35%;
    height: 1em;
    
}
.img2{
    width: 35%;
    height: 1em;
}
.menunote h3, .menuchic h3, .menupalette h3, .menudelice h3{
    font-size: 1.2em;
    padding: 0 15px 0 15px;
    margin: 0 0 0 0;
}
/*mentions légales*/
.mention h3{
    text-align: justify;
}
.mention{
    margin: 10px 5px 60px 5px;
}

/*effets graphiques complémentaires*/
    /*footer*/
.wiggle a{
    animation: headshake 300ms cubic-bezier(.4,.1,.6,.9) infinite;
}
$shake-intensity: 3%;
@keyframes headshake{
    25% {
        transform: translateY(-$shake-intensity);
    }
    75% {
        transform: translateY($shake-intensity);
    }
}
    /*points de suspension*/
    /*Animation points de suspensions

@keyframes points {
    0%, 100% {
      transform: translateY(0);
    }
    10%, 30%, 50%, 70% {
      transform: translateY(-8px);
    }
    20%, 40%, 60% {
      transform: translateY(8px);
    }
    80% {
      transform: translateY(6.4px);
    }
    90% {
      transform: translateY(-6.4px);
    }
  }
}*/
.point{
    animation: infinite;
    display: flex;
    flex-wrap: nowrap;
}    
#point1{
    /*transition: transform 450ms;*/
    animation-delay: 100ms;
}
#point2{
    /*transition: transform 450ms;*/
    animation-delay: 600ms;
}
#point3{
    /*transition: transform 450ms;*/
    animation-delay: 1100ms;
}
    /*zoom index:html au passage souris*/
.zoom{
    transform: scale(1);
    transition: transform 300ms;
    &:hover
    {
        transform: scale(1.1);
        font-size: 1.2em;
    }
}
/*titre soulignés menudelice et menupalette*/
.menupalette h3, .menudelice h3{
    text-align: center;
    background: linear-gradient(to top, #000 0%, #000 1px, transparent 3px) no-repeat;
    background-size: 0 100%;
    transition: background-size 1s;
    &:hover{
        background-size: 100% 100%;
    }
}

/*responsive*/
@media (max-width: 768px){
    /*template*/
    main{
        margin: 10px 5px 60px 5px;
        padding: 10px 0 60px 0;
    }
    h1 a{
        font-size: 1.8em;
    }
    footer a{        
    font-size: 1.2em;
    }
    /*index*/
    .ligne{
        display: flex;
        flex-direction: column;
        margin: 0 0 0 0;
    }
    /*DRY*/
    .note, .chic, .delice, .palette{
        margin: 15px 15px 0 15px;
        padding: 0 0 0 0;
        box-sizing: border-box;
        width: auto;
    }
    .palette a, .note a, .chic a, .delice a{  
        font-size: 1.2em;
    }    
    .menu1s, .menuchic, .menudelice, .menupalette{
        justify-content: center;
        margin: 10px 10px 30px 10px;
        padding: 0 0 10px 0;
        width: auto;
    } 
    .menu1s, .menuchic, .menudelice, .menupalette{
        padding: 0 15px 0 0;
    }   
    p{
        font-size: 1.1em;
    }
    .img1{
        width: 20%;
        height: 2em;
    }
    .img2{
        width: 20%;
        height: 2em;
    }
}