@import "variables.scss";
@import "mixin.scss";

.menunote{
    background-color: $backnote;
    color: $menunote;
}
.menu1h{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu1s h5{
    font-size: 2em; 
}
.menu1s{
    font-family: 'Sriracha', cursive;
}
.menu1h h5, .menu1s h5{
    font-family: 'Devonshire', cursive; 
}
i{
    background: linear-gradient(to right, rgba(241,92,97) 0%,rgba(246,145,106) 100%);
    @include degrade
}
.plat h5 i{
    padding-right: 15px; 
}
/*décorations titres*/
.img1, .img2{
    clip-path: ellipse(49% 12% at 50% 50%);
}
.img1, .img2{
    background-color: $menunote;
}
.menu1s h3{
    text-align: center;
    background: linear-gradient(to top, $menunote 0%, $menunote 1px, transparent 3px) no-repeat;
    background-size: 0 100%;
    transition: background-size 1s;
    &:hover{
        background-size: 100% 100%;
    }
}