.menu1h
{
    color: rgba(60,18,24);
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 75%;
}
.menunote
{
    background-color: rgba(252,223,219);
    border: rgba(252,223,219);
    border:1px solid;
    justify-content: center;
    width: 75%;
}