.menunote
{
    background-color: rgba(252,223,219);
    color: rgba(60,18,24);
    }
.menu1h
{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu1s
{
    font-family: 'Sriracha', cursive;
}
.menu1h h5{
    font-family: 'Devonshire', cursive;
    font-size: 2.2em;
    margin: 5px 0 0 0;
}
.menu1s h5{
    font-family: 'Devonshire', cursive;
    font-size: 1.5em;    
}
i{
    padding: 15px 5px 0 5px;
    background: -webkit-linear-gradient(left, rgba(241,92,97) ,rgba(246,145,106));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
