.textchic .menuchictitle{
    @import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
    font-family: 'croissantone', 'arial', 'sans-serif';
}
.menuchic
{
    background-color: rgba(255,245,254);
}
.menuchictitle>h2{
    color: linear-gradient(rgba(198,116,18),rgba(165,103,153),rgba(110,76,204));
}
.police1{
    color: rgba(198,116,18);
}
.police2{
    color: rgba(165,103,153);
}
.police3{
    color: rgba(110,76,204);
}