$back: rgba(6,134,92);
$ohmyfood: yellow;
$menunote: rgba(60,18,24);
$backnote: rgba(252,223,219);
$menuchic: rgba(199,116,18);
$backchic: rgba(255,245,254);
$menudelice: rgba(8,137,251);
$backdelice:#f9f9f9;
$menupalette: rgba(114,191,86);
$backpalette:rgba(253,255,253);