body {
  margin: 0 0 0 0;
  width: 100%;
}

header, footer, h6 {
  font-family: "Montserrat", sans-serif;
  background-color: #06865c;
  color: yellow;
  display: flex;
}

header {
  justify-content: center;
  width: 100%;
}

main {
  box-sizing: content-box;
  margin: 15px 50px 50px 50px;
  padding: 0 35px 35px 35px;
}

footer {
  position: fixed;
  bottom: 0px;
  justify-content: space-between;
  width: 100%;
}

footer a {
  padding: 25px 30px 25px 30px;
  font-size: 1.6em;
}

h1 a, footer a {
  color: yellow;
}

.ligne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 50px 0 50px;
}

.note, .chic, .delice, .palette {
  box-sizing: border-box;
  width: 400px;
  height: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.note, .delice {
  margin: 0 15px 0 0;
}

.chic, .palette {
  margin: 0 0 0 15px;
}

.note a, .chic a, .delice a, .palette a, h1 a, footer a {
  text-decoration: none;
}

.zoom, h1 a, h1, h2, h4, h5, .ligne3 {
  text-align: center;
}

.zoom:hover {
  zoom: 135%;
}

.note a {
  color: #3c1218;
}

.note i {
  padding: 0 5px 0 5px;
  background: -webkit-linear-gradient(left, #f15c61, #f6916a);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.chic h5 a {
  background: -webkit-linear-gradient(left, #c67412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.chic h4 a {
  color: #c77412;
}

.delice a {
  color: #0887fb;
}

.delice h5 {
  background: -webkit-linear-gradient(left, #0023db, #087ef8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.palette a {
  color: #72bf56;
}

.palette h5 {
  background: -webkit-linear-gradient(left, #41963c, #b8fa7c);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.palette h5, .note h5, .chic h5, .delice h5 {
  font-size: 1.4em;
}

.palette h4, .note h4, .chic h4, .delice h4 {
  font-size: 2em;
}

.note {
  color: #3c1218;
  background-color: #fcdfdb;
}
.note:hover {
  background: rgba(252, 223, 219, 0.5);
}

.note h5 {
  font-family: "Devonshire", cursive;
}

.note h4 {
  font-family: "Sriracha", cursive;
}

.chic {
  background-color: #fff5fe;
}
.chic:hover {
  background: rgba(255, 245, 254, 0.5);
}

.chic h5 {
  font-family: "Croissant One", cursive;
  background: -webkit-linear-gradient(left, #c67412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.chic h4 {
  color: #c77412;
  font-family: "Noto Serif", serif;
}

.delice {
  color: #0887fb;
  background-color: #f9f9f9;
}
.delice:hover {
  background: rgba(249, 249, 249, 0.5);
}

.delice h5 {
  font-family: "Dancing Script", cursive;
}

.delice h4 {
  font-family: "Kalam", cursive;
}

.palette {
  color: #72bf56;
  background-color: #fdfffd;
}
.palette:hover {
  background: rgba(253, 255, 253, 0.5);
}

.palette h5 {
  font-family: "Kaushan Script", cursive;
}

.palette h4 {
  font-family: "Kalam", cursive;
}

h1, h2, h4, h5, .ligne3 {
  justify-content: center;
  display: flex;
}

h1 a {
  font-weight: bold;
  font-size: 2.2em;
}

.ligne3 {
  box-sizing: content-box;
  width: 30%;
  margin: auto;
  justify-content: center;
}

.ligne3 > h3 {
  font-size: 1.9em;
  font-weight: lighter;
  color: yellow;
  border-radius: 10px;
  background-color: #06865c;
  padding: 10px 30px 10px 30px;
}

.menu1s, .menuchic, .menudelice, .menupalette {
  justify-content: center;
  width: 90%;
  padding: 20px 30px 20px 30px;
}

.menu1h h5, .menu2h h5, .menu3h h5, .menu4h h5 {
  font-size: 2.2em;
  margin: 5px 0 0 0;
}

.menu1s, .menu2s, .menu3s, .menu4s {
  margin: 5px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

p {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: 1.3em;
}

.prix {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: flex-end;
}

.mention h3 {
  text-align: justify;
}

.mention {
  margin: 10px 5px 60px 5px;
}

@media (max-width: 768px) {
  .ligne {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
  }

  .note, .chic, .delice, .palette {
    margin: 15px 15px 0 15px;
    padding: 0 0 0 0;
    box-sizing: border-box;
    width: auto;
  }

  .palette a, .note a, .chic a, .delice a {
    font-size: 1.2em;
  }

  main {
    margin: 10px 5px 60px 5px;
  }

  .menu1s, .menuchic, .menudelice, .menupalette {
    justify-content: center;
    margin: 10px 10px 80px 10px;
    padding: 0 0 10px 0;
    width: auto;
  }

  p {
    font-size: 1.1em;
  }

  h1 a {
    font-size: 1.8em;
  }

  footer a {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=style.css.map */
