@charset "UTF-8";
/*template*/
body {
  margin: 0 0 0 0;
  width: 100%;
}

header, .wiggle, h6 {
  font-family: "Montserrat", sans-serif;
  background-color: #06865c;
  color: yellow;
  display: flex;
}

header {
  justify-content: center;
  width: 100%;
}

main {
  box-sizing: content-box;
  margin: 50px 50px 100px 50px;
}

.wiggle {
  position: fixed;
  bottom: 0px;
  justify-content: space-between;
  width: 100%;
}

footer a {
  padding: 25px 30px 25px 30px;
  font-size: 1.6em;
}

h1 a, footer a {
  color: yellow;
}

h1 a {
  font-weight: bold;
  font-size: 2.2em;
  letter-spacing: -6px;
}

/*index*/
.ligne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 50px 0 50px;
}

.note, .chic, .delice, .palette {
  box-sizing: border-box;
  width: 400px;
  height: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.note, .delice {
  margin-right: 15px;
}

.chic, .palette {
  margin-left: 15px;
}

a {
  text-decoration: none;
}

.zoom, .zoom i, h1 a, h1, h2, h4, h5, .ligne3 {
  text-align: center;
}

.note a {
  color: #3c1218;
}

i {
  background: linear-gradient(to right, #f15c61 0%, #f6916a 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.chic h5 a {
  background: linear-gradient(to right, #c67412 0%, #6e4ccc 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.delice a {
  color: #0889fb;
}

.delice h5 {
  background: linear-gradient(to right, #0023db 0%, #138dff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.palette a {
  color: #72bf56;
}

.palette h5 {
  background: linear-gradient(to right, #41963c 0%, #b8fa7c 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.palette h5, .note h5, .chic h5, .delice h5 {
  font-size: 1.4em;
}

.palette h4, .note h4, .chic h4, .delice h4 {
  font-size: 2em;
}

.note {
  color: #3c1218;
  background-color: #fcdfdb;
  /*&:hover{
      background: rgba($backnote, 0.5);
  }*/
}

.note h5 {
  font-family: "Devonshire", cursive;
}

.note h4 {
  font-family: "Sriracha", cursive;
}

.chic {
  background-color: #fff5fe;
  /*&:hover{
      background: rgba($backchic, 0.5);
  }*/
}

.chic h4 {
  color: #c77412;
  font-family: "Noto Serif", serif;
}

.delice {
  color: #0889fb;
  background-color: #f9f9f9;
  /*&:hover{
      background: rgba($backdelice, 0.5);
  }*/
}

.delice h5 {
  font-family: "Dancing Script", cursive;
}

.delice h4 {
  font-family: "Kalam", cursive;
}

.palette {
  color: #72bf56;
  background-color: #fdfffd;
  /*&:hover{
      background: rgba($backpalette, 0.5);
  }*/
}

.palette h5 {
  font-family: "Kaushan Script", cursive;
}

.palette h4 {
  font-family: "Kalam", cursive;
}

h1, h2, h4, h5, .ligne3 {
  justify-content: center;
  display: flex;
}

h2 {
  font-family: "roboto", "arial";
  font-size: 2.5em;
}

.ligne3 {
  box-sizing: content-box;
  width: 35%;
  margin: auto;
  justify-content: center;
}

.ligne3 > h3 {
  font-size: 1.9em;
  font-weight: lighter;
  color: yellow;
  border-radius: 10px;
  background-color: #06865c;
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-wrap: nowrap;
}

/*DRY*/
.chic h5, .menu2h h5 {
  font-family: "Croissant One", cursive;
  background: linear-gradient(to right, #c67412 0%, #a56799 50%, #6e4ccc 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.menu1s, .menu2s, .menu3s, .menu4s {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 0 0;
  padding: 15px 0 0 0;
}

.menu1h, .menu2h, .menu3h, .menu4h {
  font-size: 3em;
  padding: 15px 5px 15px 5px;
}

.menu1h i {
  font-size: 1.9em;
}

p {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: 1.3em;
  padding: 5px 0 5px 0;
}

.prix {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: flex-end;
}

.plat {
  padding: 0 25px 25px 25px;
}

.deco {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 10px 0;
  width: 100%;
}

.img1, .img2 {
  width: 35%;
  height: 1em;
  margin-top: 10px;
}

.menunote, .menuchic, .menupalette, .menudelice {
  margin: 15px 80px 100px 80px;
}

.deco {
  font-size: 1.2em;
  padding: 0;
}

h3 {
  margin: 0;
  font-size: 1.3em;
}

h5 {
  margin: 15px 0 15px 0;
  font-size: 1.4em;
  font-weight: lighter;
}

/*mentions légales*/
.mention {
  margin: 10px 5px 100px 5px;
  text-align: justify;
}

/*effets graphiques complémentaires*/
/*footer*/
.wiggle a:hover {
  animation: headshake 300ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite;
}

@keyframes headshake {
  25% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateX(3%);
  }
  75% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateX(3%);
  }
}
/*fondu + zoom*/
@keyframes fondu {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.zoom {
  transform: scale(1);
  transition: transform 1s, opacity 1s;
}
.zoom:hover {
  animation: fondu;
  transform: scale(1.2);
  opacity: 0.6;
}

/*Animation points de suspensions*/
@keyframes points {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.point {
  display: flex;
  flex-wrap: nowrap;
}

.point, #point1, #point2, #point3 {
  padding-left: 5px;
}

#point1, #point2, #point3 {
  font-weight: bold;
  animation: points;
  animation-iteration-count: infinite;
  animation-duration: 900ms;
  transition: transform 500ms;
}

#point1 {
  animation-delay: 0ms;
}

#point2 {
  animation-delay: 300ms;
}

#point3 {
  animation-delay: 600ms;
}

/*titre soulignés menudelice et menupalette*/
.menupalette h3, .menudelice h3 {
  background: linear-gradient(to top, #000 0%, #000 1px, transparent 3px) no-repeat;
  background-size: 0 100%;
  transition: background-size 1s;
}
.menupalette h3:hover, .menudelice h3:hover {
  background-size: 100% 100%;
}

/*responsive*/
@media (max-width: 768px) {
  /*template*/
  main {
    margin: 10px 0 100px 0;
  }

  h1 a {
    font-size: 1.8em;
  }

  footer a {
    font-size: 1em;
  }

  /*index*/
  .ligne {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
  }

  /*DRY*/
  .menupalette .deco h3, .menudelice .deco h3 {
    font-size: 1em;
    padding-top: 20px;
  }

  .note, .chic, .delice, .palette, .menunote, .menuchic, .menudelice, .menupalette {
    width: auto;
    padding: 0;
  }

  .menunote, .menuchic, .menudelice, .menupalette {
    justify-content: center;
    margin: 10px 10px 30px 10px;
  }

  .mention {
    margin: 10px 10px 10px 10px;
  }

  .note, .chic, .delice, .palette {
    margin: 15px 15px 0 15px;
    box-sizing: border-box;
  }

  .note h5, .chic h5, .delice h5, .palette h5 {
    font-size: 2em;
  }

  p, .menunote h5, .menuchic h5, .menudelice h5, .menupalette h5 {
    font-size: 1em;
  }

  .img1, .img2 {
    width: 20%;
    height: 2em;
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
